<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Students
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
           <table class="table">
            <thead>
                <tr>
                    <th>ID</th><th>First Name</th><th>Last Name</th><th>Code</th><th>Program ID</th><th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let eleve of students">
                    <td>{{eleve.id}}</td>
                    <td>{{eleve.firstName}}</td>
                    <td>{{eleve.lastName}}</td>
                    <td>{{eleve.code}}</td>
                    <td>{{eleve.programId}}</td>
                    <td>
                        <button (click)="studentPayments(eleve)" mat-raised-button color="primary">Payments</button>
                    </td>
                </tr>
            </tbody>
           </table>

        </mat-card-content>
    </mat-card>



    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Students
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>

           <table matSort mat-table [dataSource]="studentsDataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
              <td mat-cell *matCellDef="let eleve"> {{eleve.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="firstName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
              <td mat-cell *matCellDef="let eleve"> {{eleve.firstName}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="lastName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
              <td mat-cell *matCellDef="let eleve"> {{eleve.lastName}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="code">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
              <td mat-cell *matCellDef="let eleve"> {{eleve.code}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="programId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Program ID </th>
                <td mat-cell *matCellDef="let eleve"> {{eleve.programId}} </td>
            </ng-container>

             <!-- Symbol Column -->
             <ng-container matColumnDef="paymentsList">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Program ID </th>
                <td mat-cell *matCellDef="let eleve"> <button (click)="studentPayments(eleve)" mat-raised-button color="primary">Payments</button> </td>

             </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>

          <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]"
             showFirstLastButtons
             aria-label="Select page of periodic elements">
          </mat-paginator>

        </mat-card-content>
    </mat-card>

</div>
