<div class="container">
  <mat-toolbar>
    <button (click)="newPayment()" mat-raised-button color="primary">New Payment</button>
  </mat-toolbar>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Student Payments
            </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>

            <table matSort mat-table [dataSource]="paymentDataSource" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
                  <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                  <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> firstName</th>
                    <td mat-cell *matCellDef="let element"> {{element.eleve.firstName}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="details">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions</th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="primary" (click)="paymentDetails(element)">
                      Details
                    </button>
                  </td>
               </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
              </mat-paginator>

        </mat-card-content>
    </mat-card>
</div>
